html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html { height: 100%; }
body {
	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #656565;
	background: url(../images/bg.png) repeat top left;
}
ol, ul { list-style: none; }
* {
	margin: 0;
	outline: none;
	padding: 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

a, a:hover { color: #000; text-decoration: none; }


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }

.left { float:left; }
.right { float:right; }

/****************************** Main ******************************/

.container {
	width: 100%;
	height: 955px;
}

.top_line {
	width: 100%;
	height: 55px;
	background: #1A1C1D;
}
.settings {
	margin-top: 7px;
}
.settings span {
	font: 16px arial;
	cursor: pointer;
	color: #fff;
	min-width: 100px;
	min-height: 35px;
	line-height: 35px;
	border: 2px solid rgba(0,0,0,0);
	background: #343436;
	text-align: center;
	float: left;
	margin-right: 10px;
	border-radius: 2px;
}
.settings span:hover {
	background: #4A4A4D;
	border: 2px solid #343436;
}

.leftArticle {
	float: left;
}

.block-wrap {
	width: 450px;
	background: #262626;
	/*margin-top: 2px;*/
}

.title {
	background: #424242;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
}
.title h3 {
	text-transform: uppercase;
	color: #CCCCCC;
	float: left;
	font-weight: bold;
}
.clear {
	float: right;
	color: #ccc;
	cursor: pointer;
}
.clear:hover {
	color: #fff;
}
.open {
	float: right;
	width: 10px;
	margin: 12px 10px 0 10px;
	height: 10px;
	background: url(../images/arrowdown.png) no-repeat;
	cursor: pointer;
}


.codeContainer {
	width: auto;
	/*height: 85%;
	height: 200px;*/
}
textarea {
	width: 100%;
	height: 100%;
	resize: none;
	background: #262626;
	border: none;
	color: #fff;
	padding: 5px;
	display: block;

		/*-webkit-transition: all .1s ease;
       -moz-transition: all .1s ease;
    	 -o-transition: all .1s ease;
    		transition: all .1s ease;*/
}


.right_content {
	float: left;
	/*overflow: hidden;*/
}

.result {
	float: left;
	height: 100%;
	width: 100%;
	background: #ccc;
	display: block;
}